<div>
{{#each this}}
  <div class="clearfix">
  {{#if title}}<h3 class="h2">{{title}}</h3>{{/if}}
  {{#if description}}<div style="padding-bottom:20px">{{{description}}}</div>{{/if}}
  </div>
  <div class="row">
  {{#each items}}
    {{> itemPartial}}
  {{/each}}
  </div>
{{/each}}
</div>