<article role="main" class="embedded clearfix">{{{article}}}</article>

<div id="tab-toc" class="hidden">{{{tabtoc}}}</div>

<nav class="ohc-pager hidden-print hidden">
	<ul class="pager">
        <li class="previous disabled">
			<a role="button" class="btn" aria-label="Previous" aria-hidden="true">
				<span class="fa fa-chevron-left" aria-hidden="true"></span><span class="sr-only">Previous</span>
			</a>
		</li>
        <li class="toc">
			<a type="button" class="btn" aria-label="Table of contents" href="toc.htm">
				<span class="fa fa-list-alt" aria-hidden="true"></span><span class="sr-only">Table of contents</span>
			</a>
		</li>
		<li class="next disabled">
			<a role="button" class="btn" aria-label="Next" aria-hidden="true">
				<span class="fa fa-chevron-right" aria-hidden="true"></span><span class="sr-only">Next</span>
			</a>
		</li>
	</ul>
</nav>
