<i id="helpdrawer-tab" class="hidden-print fa fa-question-circle"></i>
<div id="helpdrawer" role="tabpanel" class="hidden-print">
  <div>
	<h4 class="pull-left">Quick Help</h4>
	<ul class="pull-right nav nav-pills" role="tablist" aria-label="Quick Help Tabs">
	  <li role="presentation" class="active"><a href="#quick-help-tips" role="tab" data-toggle="tab" data-placement="bottom" title="Tips"><i class="fa fa-lightbulb-o"></i></a></li>
	  <li role="presentation"><a href="#quick-help-feedback" role="tab" data-toggle="tab" data-placement="bottom" title="Feedback"><i class="fa fa-comment-o"></i></a></li>
	  <li role="presentation"><a href="#quick-help-support" role="tab" data-toggle="tab" data-placement="bottom" title="Contact Us"><i class="fa fa-phone"></i></a></li>
	</ul>
	<hr>
	<div class="tab-content">
	  <div role="tabpanel" class="tab-pane fade in active" id="quick-help-tips">
		<h4>Navigation Tips</h4>
		<h5>How do I find my product or service?</h5>
		<p>From the home page, click the technology categories for your products or services. If you do not know which category to pick, try the following features:</p>
		<ul>
			<li>Click the <strong>Find a product</strong> tab and search for your product or service.</li>
			<li>Click <strong>Browse All Products & Services</strong> at the bottom of the home page to view an alphabetical listing of products and services.</li>
		</ul>
		<h4>Search Tips</h4>
		<h5>How do I narrow my search results?</h5>
		<p>After you submit your search query:</p>
		<ol>
			<li>On the <strong>Refine Search</strong> results page, select one or more categories of products or services from the left sidebar.</li>
			<li>Then for a category with search results, click <strong>Select</strong> to choose your product and release filters, and then click <strong>OK</strong>.</li>
		</ol>
		<p>For search queries that contain multiple words, surround the query with quotes, and then resubmit your query. Example: "database cloud service"</p>
		<h4>Browser Support</h4>
		<p>Oracle Help Center supports the following browsers:</p>
		<ul>
			<li>Apple Safari Version 6 and later</li>
			<li>Google Chrome Version 29 and later</li>
			<li>Mozilla Firefox Version 24 and later</li>
			<li>Microsoft Internet Explorer Version 9 and later (10 recommended)</li>
		</ul>
		<p>Oracle Help Center utilizes HTML5 and JavaScript.</p>
	  </div>
	  <div role="tabpanel" class="tab-pane fade" id="quick-help-feedback">
		<h4>Feedback</h4>
		<form method="POST">
			<div class="radio">
			  <label>
				<input type="radio" name="feedback_scope" value="page" checked>
				About this <strong>Page</strong>
			  </label>
			</div>
			<div class="radio">
			  <label>
				<input type="radio" name="feedback_scope" value="document">
				About this <strong>Document</strong>
			  </label>
			</div>

			<div class="form-group">
				<label for="feedback-subject">Subject</label>
				<input name="title" type="text" class="form-control" id="feedback-subject" placeholder="Enter subject" required >
			</div>
  
			<textarea name="comment_text" class="form-control" rows="6" placeholder="Comments or suggestions..." required></textarea>
			{{#if user}}
			<div class="radio">
			  <label>
				<input type="radio" name="submitter" value="{{user.email}}" checked>
				{{user.email}}
			  </label>
			</div>
			<div class="radio">
			  <label>
				<input type="radio" name="submitter" value="">
				Anonymous
			  </label>
			</div>
			{{else}}
			<div class="radio">
			  <label>
				<input type="radio" name="submitter" value="" checked>
				Anonymous (or <a class="login-link" href="#">Sign In</a>)
			  </label>
			</div>
			{{/if}}
			
			<input type="hidden" name="path" value="">
			<input type="hidden" name="topictitle" value="">

			<button type="submit" class="btn btn-primary">Submit</button>
			<p>Comments, corrections, and suggestions are forwarded to the authors every week. Be submitting, you confirm you agree to the <a href="">terms and conditions</a>. Use the <a href="">OTN forums</a> for product questions. For support or consulting, file a service request through <a href="">My Oracle Support</a>.</p>
		</form>
		
		<p id="feedback-success" style="display:none">Thank you for your feedback.</p>
		<p id="feedback-failure" style="display:none">There was a problem, please try again.</p>
		<p id="feedback-notready" style="display:none">Please enter a subject and comment before submitting.</p>
	  </div>
	  <div role="tabpanel" class="tab-pane fade" id="quick-help-support">
		<h4>Contact Us</h4>
		<h5>Online</h5>
		<p>Go to <a href="https://support.oracle.com/">My Oracle Support</a> to find answers in the Oracle Support Knowledge Base, submit, update or review your Service Requests, engage the My Oracle Support Community, download software updates, and tap into Oracle proactive support tools and best practices.</p>
		<p><i class="text-muted">* You must have purchased support</i></p>
		<h5>Phone</h5>
		<p class="visible-xs-block"><strong><a href="tel:+18002231711">+1.800.223.1711</a></strong></p>
		<p class="visible-lg-block"><strong>+1.800.223.1711</strong></p>
		<p><i class="text-muted">* You must have purchased support</i></p>
		<h5>Hearing Impaired</h5>
		<p>Customers in the U.S. who need to speak with an Oracle Support representative may use a telecommunications relay service (TRS); information about the TRS is available at <a href="https://www.fcc.gov/guides/telecommunications-relay-service-trs">fcc.gov</a>, and a list of phone numbers is available at <a href="https://www.fcc.gov/encyclopedia/telecommunications-relay-services-directory">fcc.gov</a>. International hearing impaired customers should use the TRS at <strong class="visible-lg-inline">1.605.224.1837</strong><strong class="visible-xs-inline"><a href="tel:16052241837">1.605.224.1837</a></strong>. Once in contact with Oracle Support an engineer will handle technical issues according to normal service request handling processes.</p>
		<h5>Support Sales</h5>
		<p class="visible-xs-block"><strong><a href="tel:18008333536">1.800.833.3536</a></strong></p>
		<p class="visible-lg-block"><strong>1.800.833.3536</strong></p>
	  </div>
	</div>
  </div>
</div>