<div class="modal" id="videoModal" role="dialog" aria-labelledby="videoModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #000; color: #eee;">
        <button type="button" class="close" style="color: #eee; background-color: #000; opacity: 1;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-title h4" id="videoModalLabel">Video</div>
      </div>
      <div class="modal-body" style="padding: 0px; background-color: #000;">
        <div class="embed-responsive embed-responsive-16by9">
		  <iframe class="embed-responsive-item"></iframe>
		</div>
      </div>
    </div>
  </div>
</div>